<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PDF Template</title>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div>
<!--    <div id="logo-id">-->
<!--        <img class="logo" src="images/logo-intertec.png"/>-->
<!--    </div>-->
    <!--<h3 th:text="${actualDate}"></h3>-->
    <h3 th:text="Mayo 08 de 2021"></h3>
    <h1>A QUIEN CORRESPONDA</h1>
    <p th:text="Por medio de la presente hago constar que la Señor Camilo Andrés Hurtado, con Cedula de Ciudadanía número 1144074925, actualmente trabaja para Intertec International S.A.S. CON Nit. 901367910-1, desde el día 04 de enero del año 2021. Su actual salario es de 12,000,000 de pesos colombianos brutos.
    Durante el periodo mencionado, el Señor Camilo Andrés Hurtado se ha desempeñado como desarrollador de software.
    Para Cualquier duda adicional, sírvase comunicarse con nosotros en horario de oficina.

    Atentamente,">
    </p>

<!--    <div id="firma-id">-->
<!--        <img class="logo" src="images/firma-rrrhh-intertec.png"/>-->
<!--    </div>-->
</div>
</body>
</html>